<configuration version="5">
    <folder id="default" path="/root/Sync" ro="false" rescanIntervalS="60" ignorePerms="false">
        <device id="RACOEAI-2CUBBBB-EB2VFKY-ULAEQ3Q-3XA47XB-FYP4M73-QAI5NT7-AJ5BBAT"></device>
        <versioning></versioning>
    </folder>
    <device id="RACOEAI-2CUBBBB-EB2VFKY-ULAEQ3Q-3XA47XB-FYP4M73-QAI5NT7-AJ5BBAT" name="sync" compression="false" introducer="false">
        <address>dynamic</address>
    </device>
    <gui enabled="true" tls="true">
        <address>0.0.0.0:8080</address>
        <user>{{ syncthing_username }}</user>
        <password>{{ syncthing_password }}</password>
    </gui>
    <options>
        <listenAddress>0.0.0.0:22000</listenAddress>
        <globalAnnounceServer>announce.syncthing.net:22026</globalAnnounceServer>
        <globalAnnounceEnabled>true</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21025</localAnnouncePort>
        <localAnnounceMCAddr>[ff32::5222]:21026</localAnnounceMCAddr>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <startBrowser>true</startBrowser>
        <upnpEnabled>true</upnpEnabled>
        <upnpLeaseMinutes>0</upnpLeaseMinutes>
        <upnpRenewalMinutes>30</upnpRenewalMinutes>
        <urAccepted>0</urAccepted>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
    </options>
</configuration>
